<div class="container">
  <form [formGroup]="form" class="max-w-sm mx-auto w-1/2 h-1/2 m-auto mt-28">
    <!-- Email Field -->
    @if (errorAuth){
      <div role="alert" class="alert alert-error mb-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{errorAuth}}</span>
      </div>
    }
    <div class="mb-5">
      <label for="NomColombie" class="block mb-2 text-sm font-medium text-green-700 dark:text-green-500">NomColombie</label>
      <input
        type="text"
        id="NomColombie"
        formControlName="nomColombie"
        [ngClass]="{
          ' border-green-500': nomColombie?.valid,
          ' border-red-500 ': nomColombie?.invalid && nomColombie?.touched
        }"
        class="border text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700"
        placeholder="NomColombie"
      />
      <p *ngIf="nomColombie?.valid && nomColombie?.touched" class="mt-2 text-sm text-green-600 dark:text-green-500">
        <span class="font-medium">Alright!</span> NomColombie is valid!
      </p>
      <p *ngIf="nomColombie?.invalid && nomColombie?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">Oops!</span> Invalid NomColombie.
      </p>
    </div>

    <!-- Password Field -->
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-red-700 dark:text-green-500">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [ngClass]="{
          ' border-green-500 ': password?.valid,
          ' border-red-500 ': password?.invalid && password?.touched
        }"
        class="border text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700"
        placeholder="Password"
      />
    </div>

    <!-- Submit Button -->
    <div class="mt-5">
      <button
        type="button"
        (click)="submit()"
        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>



