
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none gap-2">
      <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
              @if (!currentUser){
              <li><a routerLink="/register" >Register</a></li>
              <li><a routerLink="/login" >Login</a></li>
              }
              @if(currentUser && currentUser.roles?.includes('ROLE_USER')) {
                  <li><a routerLink="/user" >Pigeon</a></li>
              }
              @if(currentUser && currentUser.roles?.includes('ROLE_ORGANIZER')) {
                  <li><a routerLink="/competition" >competition</a></li>
              }
          </ul>
      </div>


    @if (currentUser){
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a (click)="logout()" >Logout</a></li>
      </ul>
    </div>
      }
  </div>
</div>
